<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Avviso di pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">

    <div class="page-wrapper">

      {{!-- Notice HEADER --}}
      {{> header }}

      <main>

        <section class="notice-main-info">
          <div class="payee-title-block start-separator">
            <h3 class="small-caps-title">Ente creditore</h3>
            <p class="data-small">82001760675</p>
          </div>

          <div class="payee-name-block start-grid-cell">
            <p class="h2">Comune di Controguerra</p>
          </div>

          <div class="payee-sector-block start-grid-cell">
            <p class="h3">Tributi locali</p>
          </div>

          <div class="payee-info-block start-grid-cell">
            <p class="body">Centralino: 0861 809901</p>
          </div>

          <div class="debtor-title-block end-separator">
            <h3 class="small-caps-title">Destinatario</h3>
            <p class="data-small">RSSMRA00A41C972V</p>
          </div>

          <div class="debtor-name-block end-grid-cell">
            <p class="h2">Maria Rossi</p>
          </div>

          <div class="debtor-address-block end-grid-cell">
            <p class="h3">
              Vicolo Stretto 1<br />
              64010 Controguerra TE
            </p>
          </div>
        </section>

        <section class="notice-payment-info">
          <div class="payment-amount-title-block start-separator">
            <h3 class="small-caps-title">Quanto pagare?</h3>
          </div>

          <div class="payment-amount-block start-grid-cell">
            <dl class="amount">
              <dt class="body strong">Importo</dt>
              <dd class="h1">14,00 Euro</dd>
            </dl>
            <dl class="expiry-date">
              <dt class="body strong">entro il</dt>
              <dd class="h1">31/03/2024</dd>
            </dl>
            <div class="info">
              <p class="body">In fase di pagamento, se previsto dall’ente, l'importo potrebbe essere aggiornato
                automaticamente e subire variazioni in
                diminuzione
                (per sgravi, note di credito) o in aumento (per sanzioni, interessi, ecc.).</p>
            </div>
          </div>

          <div class="payment-locations-title-block end-separator">
            <h3 class="small-caps-title">Dove pagare?</h3>
            <div class="pagopa-website-block">
              <p class="body">vai su <span class="h4">pagopa.gov.it</span></p>
            </div>
          </div>

          <div class="payment-locations-block end-grid-cell">
            <div>
              <h4 class="small-caps-title">Paga con l'app IO</h4>
              <p class="body">oppure sul sito di Ente.Nome, dal tuo Home Banking, con la tua app di pagamento o con gli
                altri canali
                abilitati.</p>
            </div>
            <div>
              <h4 class="small-caps-title">Paga sul territorio</h4>
              <p class="body">presso Banche e Sportelli ATM, negli Uffici Postali e Punti Postali, nei Bar,
                Edicole,
                Ricevitorie, Supermercati,
                Tabaccherie e altri Esercenti Convenzionati.</p>
            </div>
          </div>
        </section>

        <section class="notice-payment-data">
          <div class="unique-separator">
            <h3 class="small-caps-title">Dati per il pagamento</h3>
            <p class="h4">Rata unica entro il 31/03/2024</span></p>
          </div>

          <div class="payment-details unique-grid-cell">
            <div class="qrcode-area">
              <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
              <p class="body mt-small">Inquadra il <strong>codice QR</strong> con la tua app di pagamento o usa i dati
                accanto.</p>
            </div>

            <div class="payment-details-data">

              <div class="payment-details-data-1st-block">

                <div class="grid-cell-span-1">
                  <dl class="data-key-value">
                    <dt>Destinatario</dt>
                    <dd>Maria Rossi</dd>
                  </dl>
                </div>

                <p class="amount align-right">
                  Euro <strong>14,00</strong>
                </p>

                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Ente creditore</dt>
                    <dd>Comune di Controguerra</dd>
                  </dl>
                </div>

                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Oggetto del pagamento</dt>
                    <dd>{{notice.subject}}</dd>
                  </dl>
                </div>


              </div>

              <div class="payment-details-data-2nd-block">

                <div class="grid-cell-span-2">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. CBILL</dt>
                    <dd>78Q45</dd>
                  </dl>
                </div>

                <div class="grid-cell-span-4">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Avviso</dt>
                    <dd>0000 0000 0000 0000 00</dd>
                  </dl>
                </div>

                <div class="grid-cell-span-2 align-right">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Fiscale Ente</dt>
                    <dd>82001760675</dd>
                  </dl>
                </div>


              </div>

            </div>

          </div>

        </section>


        <div class="content-grid">

          <section class="transaction-data">

            {{!-- <section class="transaction-data-group">

              {{#with user.data}}
              <dl class="data-key-value">
                <dt>Eseguito da</dt>
                <dd class="entityGroup">
                  {{#if fullName}}
                  <span class="entityName forcedCapitalCase">{{lowercase fullName}}</span>
                  {{/if}}
                  <span class="entityCode">{{taxCode}}</span>
                </dd>
              </dl>
              {{/with}}

              {{#if transaction.rrn}}
              <dl class="data-key-value">
                <dt>ID transazione (RRN)</dt>
                <dd class="entityCode">{{transaction.rrn}}</dd>
              </dl>
              {{/if}}

              {{#if transaction.authCode}}
              <dl class="data-key-value">
                <dt>Codice autorizzativo</dt>
                <dd class="entityCode">{{transaction.authCode}}</dd>
              </dl>
              {{/if}}

            </section> --}}

            <section class="transaction-data-group">

              {{#unless transaction.requestedByDebtor}}

              {{#if transaction.paymentMethod.name}}
              <dl class="data-key-value">
                <dt>Metodo di pagamento</dt>
                <dd class="data-value-big">
                  <div class="payment-method-group forcedCapitalCase">
                    <img class="payment-method-logo" src={{transaction.paymentMethod.logo}} />
                    {{lowercase transaction.paymentMethod.name}}
                  </div>
                </dd>
              </dl>
              {{/if}}

              {{#if transaction.paymentMethod.accountHolder}}
              <dl class="data-key-value">
                <dt>Intestato a</dt>
                <dd class="data-value-big forcedCapitalCase">{{lowercase transaction.paymentMethod.accountHolder}}</dd>
              </dl>
              {{/if}}

              {{/unless}}

              {{#if transaction.psp}}
              <dl class="data-key-value">
                <dt>Gestore della transazione (PSP)</dt>
                <dd class="data-value-big">{{transaction.psp.name}}</dd>
              </dl>
              {{/if}}

              {{!-- <dl class="data-key-value">
                <dt>Data e ora</dt>
                <dd class="data-value-big">{{transaction.timestamp}}</dd>
              </dl> --}}

            </section>

          </section>

          <section class="transaction-detail">

            {{#each cart.items}}

            <section class="transaction-detail-group">

              {{#if this.subject}}
              <div class="transaction-detail-paymentSubject">
                <!-- Oggetto del pagamento (Carrello singolo) -->
                {{#not this.length 1}}
                <h2 class="paymentSubject">{{{this.subject}}}</h2>
                {{/not}}
              </div>
              {{/if}}

              <!-- Debitore (+ codice fiscale) -->
              {{#with this.debtor}}
              <dl class="data-key-value small transaction-detail-debtor">
                <dt>Debitore</dt>
                <dd class="entityGroup">
                  {{#if fullName}}
                  <span class="entityName forcedCapitalCase">{{lowercase fullName}}</span>
                  {{/if}}
                  {{#if taxCode}}
                  <span class="entityCode">{{taxCode}}</span>
                  {{/if}}
                </dd>
              </dl>
              {{/with}}

              <!-- Ente creditore (+ codice fiscale) -->
              <dl class="data-key-value small transaction-detail-creditor">
                <dt>Ente Creditore</dt>
                <dd class="entityGroup">
                  <span class="entityName">{{this.payee.name}}</span>
                  <span class="entityCode">{{this.payee.taxCode}}</span>
                </dd>
              </dl>

              <section class="transaction-detail-paymentData">

                <!-- IUV -->
                {{!-- {{#eq this.refNumber.type "IUV"}}
                <dl class="data-key-value right-align">
                  <dt>IUV</dt>
                  <dd class="entityCode">{{this.refNumber.value}}</dd>
                </dl>
                {{/eq}} --}}

                <!-- Codice Avviso -->
                {{!-- {{#eq this.refNumber.type "codiceAvviso"}}
                <dl class="data-key-value right-align">
                  <dt>Codice avviso</dt>
                  <dd class="entityCode">{{splitAndSpace this.refNumber.value}}</dd>
                </dl>
                {{/eq}} --}}

                <!-- Importo -->
                <dl class="data-key-value small right-align amount-value">
                  <dt>Importo</dt>
                  <dd>{{this.amount}}&nbsp;&euro;</dd>
                </dl>

              </section>

            </section>

            <hr class="transaction-detail-divider" />

            {{/each}}

          </section>

          <section class="transaction-summary">


            <!-- Partial Amount -->
            {{!-- {{#not cart.items.length 1}}
            <dl class="transaction-summary-key-value">
              <dt>Importo parziale</dt>
              <dd>{{cart.amountPartial}}&nbsp;&euro;</dd>
            </dl>
            {{/not}} --}}

            <!-- Commissione -->
            {{!-- {{#if transaction.psp.fee.amount}}
            <dl class="transaction-summary-key-value">
              <dt>Commissione (applicata da {{transaction.psp.name}})</dt>
              <dd>{{transaction.psp.fee.amount}}&nbsp;&euro;</dd>
            </dl>
            {{/if}} --}}

            <!-- Totale -->
            {{!-- <dl class="transaction-summary-key-value total-amount">
              <dt>Totale</dt>
              <dd>{{transaction.amount}}&nbsp;&euro;</dd>
            </dl> --}}

            <!-- Bank Charges -->
            {{#if transaction.paymentMethod.extraFee}}
            {{!-- <p>Il totale non include eventuali costi di invio bonifico, se applicati dal gestore della transazione
              (PSP).
              Per maggiori informazioni, rivolgiti alla tua banca.
            </p> --}}
            {{/if}}

          </section>

        </div>
      </main>
    </div>

  </div>

</body>

</html>