<section class="notice-payment-info">
    <div class="payment-amount-title-block start-separator">
        {{#if notice.expiryDate}}
        {{{languageHandler 'paymentInfo.titleWithExpiryDate' classPrimaryLang='small-caps-title'
        classSecondaryLang='small-caps-title-bilingual'}}}
        {{else}}
        {{{languageHandler 'paymentInfo.titleWithoutExpiryDate' classPrimaryLang='small-caps-title'
        classSecondaryLang='small-caps-title-bilingual'}}}
        {{/if}}
        </h3>
    </div>

    <div class="payment-amount-block start-grid-cell">
        <dl class="amount">
            <dt>
                {{{languageHandler 'paymentInfo.amount.default'
                classPrimaryLang='body strong'
                classSecondaryLang='body muted'}}}
            </dt>
            <dd class="h1">{{notice.amount}} Euro</dd>
        </dl>

        {{#if notice.expiryDate}}
        <dl class="expiry-date">
            <dt>
                {{{languageHandler 'paymentInfo.expiryDate.default'
                classPrimaryLang='body strong'
                classSecondaryLang='body muted'}}}
            </dt>
            <dd class="h1">{{notice.expiryDate}}</dd>
        </dl>
        {{/if}}

        <div class="info-block">

            {{#if notice.instalments.items}}
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true" />
                {{{languageHandler 'paymentInfo.instalments.default'
                classPrimaryLang='body'
                classSecondaryLang='body muted'
                align="vertical"
                number=notice.instalments.items.length}}}
            </div>
            {{/if}}

            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true" />
                {{{languageHandler 'paymentInfo.legal'
                classPrimaryLang='body'
                classSecondaryLang='body muted'
                align="vertical"}}}
            </div>

        </div>
    </div>

    {{> paymentMethods }}

</section>