<section class="notice-poste-payment-data {{#if compact}}compact{{/if}}">
    <div class="header-bollettino-postale {{#if @root.metadata.secondaryLanguage}}bilingual{{/if}} unique-separator">
        <div class="title">
            {{{languageHandler 'postePayingInSlip.title' classPrimaryLang='small-caps-title'
            classSecondaryLang='small-caps-title-bilingual'}}}
        </div>
        <div class="logo-and-date">
            <img class="logo-bancoposta" src="assets/poste/banco-posta.svg" alt="BancoPosta" />
            {{#if subtitle}}
            {{!-- Custom text for infraction notice --}}
            {{{languageHandler subtitle classPrimaryLang='h4 light'
            classSecondaryLang='h4 light muted'}}}
            {{else}}
            {{#if expiryDate}}
            <div class="composedHorizontalLocalizedText">
                {{{languageHandler 'paymentData.type.withExpiryDate' classPrimaryLang='h4'
                classSecondaryLang='small-caps-title-bilingual'}}}
                <p class='h4'>{{expiryDate}}</p>
            </div>
            {{else}}
            {{{languageHandler 'paymentData.type.withoutExpiryDate' classPrimaryLang='h4'
            classSecondaryLang='small-caps-title-bilingual'}}}
            {{/if}}
            {{/if}}
            <img class="poste-scissors" src="assets/poste/scissors.svg" aria-hidden="true" />
        </div>
    </div>

    {{> paymentBollettino }}

</section>