<div class="instalment-details">
    <div class="instalment-details-data-1st-block">
        <div class="qrcode-area">
            <img class="payment-qrcode" src={{genQrCode this.qrCode this.tempPath}} alt="QR PaymentCode" />
        </div>

        <dl class="data-key-value-monospaced tight">
            <dt>Euro</dt>
            <dd>{{this.amount}}</dd>
        </dl>

        <dl class="data-key-value-monospaced tight">
            <dt>
                {{{languageHandler "paymentInfo.expiryDate.default" classSecondaryLang="muted"}}}
            </dt>
            <dd>{{this.expiryDate}}</dd>
        </dl>

        <dl class="data-key-value-monospaced tight">
            <dt>{{{languageHandler "paymentData.refNumber" forceSecondaryLang="true"}}}</dt>
            <dd>{{splitAndSpace this.refNumber}}</dd>
        </dl>

        <div class="grid-cell-span-2 instalment-row-data">
            <dl class="data-key-value-monospaced tight">
                <dt>{{{languageHandler "paymentData.payeeTaxCode" forceSecondaryLang="true"}}}</dt>
                <dd>{{payee.taxCode}}</dd>
            </dl>
            <dl class="data-key-value-monospaced tight">
                <dt>{{{languageHandler "paymentData.cbillCode" forceSecondaryLang="true"}}}</dt>
                <dd>{{notice.cbillCode}}</dd>
            </dl>
        </div>

    </div>

    <div class="instalment-details-data-2nd-block">
        <dl class="data-key-value">
            <dt>{{{languageHandler "paymentData.description" classSecondaryLang="muted"}}}</dt>
            <dd>{{notice.subject}}</dd>
        </dl>
        <dl class="data-key-value">
            <dt>{{{languageHandler "paymentData.payee" classSecondaryLang="muted"}}}</dt>
            <dd>{{payee.name}}</dd>
        </dl>
    </div>

    {{{languageHandler "paymentData.instructions.qrCode.instalments" classPrimaryLang="body" classSecondaryLang="body
    muted" align="vertical"}}}

</div>