<section class="notice-payment-data">
  <div class="unique-separator">

    {{#if title}}
    <h3 class="small-caps-title">{{title}}</h3>
    {{else}}
    {{{languageHandler 'paymentData.title' classPrimaryLang='small-caps-title'
    classSecondaryLang='small-caps-title-bilingual'}}}
    {{/if}}
    {{#if subtitle}}
    <p class='h4 light'>{{{subtitle}}}</p>
    {{else}}
    {{#if notice.expiryDate}}
    <div class="composedHorizontalLocalizedText">
      {{{languageHandler 'paymentData.type.withExpiryDate' classPrimaryLang='h4'
      classSecondaryLang='small-caps-title-bilingual'}}}
      <p class='h4'>{{notice.expiryDate}}</p>
    </div>
    {{else}}
    {{{languageHandler 'paymentData.type.withoutExpiryDate' classPrimaryLang='h4'
    classSecondaryLang='small-caps-title-bilingual'}}}
    {{/if}}
    {{/if}}
  </div>

  {{> paymentQR}}

</section>