<section class="notice-payment-info">
    <div class="payment-amount-title-block start-separator">
        {{{languageHandler 'paymentInfo.title.withExpiryDate' classPrimaryLang='small-caps-title'
        classSecondaryLang='small-caps-title-bilingual'}}}
    </div>

    <div class="payment-amount-block-infraction start-grid-cell">
        <div class="amount-one-line grid-cell-span-2">
            <p class="h1 not-shrinking">{{notice.instalments.discounted.amount}} Euro</p>
            {{{languageHandler 'infraction.expiryDate.withAmount.discounted'
            classPrimaryLang='body'
            classSecondaryLang='body muted'
            align="vertical"}}}
        </div>
        <div class="info-block">
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true" />
                {{{languageHandler 'infraction.disclaimer.chooseAmount' classPrimaryLang='body'
                classSecondaryLang='body muted' align="vertical"}}}
            </div>
            <div class="info-paragraph">
                <img src="./assets/icons/icon-calendar.svg" class="info-icon" aria-hidden="true" />
                <div>
                    {{{languageHandler 'infraction.disclaimer.expiry.question' classPrimaryLang='h5'
                    classSecondaryLang='h5 muted' classContainer="mb-3x-small" align="vertical"}}}
                    {{{languageHandler 'infraction.disclaimer.expiry.answer' classPrimaryLang='body'
                    classSecondaryLang='body muted' align="vertical"}}}
                </div>
            </div>
            <div class="info-paragraph">
                <img src="./assets/icons/icon-document.svg" class="info-icon" aria-hidden="true" />
                <div>
                    {{{languageHandler 'infraction.disclaimer.unclaimed.question' classPrimaryLang='h5'
                    classSecondaryLang='h5 muted' classContainer="mb-3x-small" align="vertical"}}}
                    {{{languageHandler 'infraction.disclaimer.unclaimed.answer' classPrimaryLang='body'
                    classSecondaryLang='body muted' align="vertical"}}}
                </div>
            </div>
        </div>
    </div>

    {{> paymentMethods }}

</section>