<section class="notice-payment-data">
  <div class="unique-separator">
    {{{languageHandler 'paymentData.title' classPrimaryLang='small-caps-title'
    classSecondaryLang='small-caps-title-bilingual'}}}
  </div>

  <div class="payment-data-compact unique-grid-cell">
    <div class="payment-data-compact-row">
      <dl class="data-key-value">
        <dt>{{{languageHandler "paymentData.recipient" classSecondaryLang="muted" align="vertical"}}}</dt>
        <dd class="forcedCapitalCase">{{lowercase debtor.fullName}}</dd>
      </dl>
      <dl class="data-key-value">
        <dt>{{{languageHandler "paymentData.payee" classSecondaryLang="muted" align="vertical"}}}</dt>
        <dd>{{payee.name}}</dd>
      </dl>
      <dl class="data-key-value">
        <dt>{{{languageHandler "paymentData.description" classSecondaryLang="muted" align="vertical"}}}</dt>
        <dd>{{notice.subject}}</dd>
      </dl>
    </div>
  </div>

  <section class="instalment-payment-data" style="--columns: 3">

    {{#each (slice notice.instalments.items 3)}}

    <div>
      <div class="inner-separator">
        {{{languageHandler "paymentData.instalmentNumber" classPrimaryLang="small-caps-title"
        classSecondaryLang="small-caps-title-bilingual" number=(add @index 4)}}}
      </div>
      {{#with this}}
      {{> paymentQRColDense
      debtor=../debtor
      notice=../notice
      payee=../payee
      tempPath=../tempPath
      }}
      {{/with}}
    </div>

    {{/each}}

  </section>

</section>