<section class="notice-payment-data">
  <div class="unique-separator">

    {{#if title}}
    {{!-- Custom title for infraction notice --}}
    {{{languageHandler title classPrimaryLang='small-caps-title'
    classSecondaryLang='small-caps-title-bilingual'}}}
    {{else}}
    {{{languageHandler 'paymentData.title' classPrimaryLang='small-caps-title'
    classSecondaryLang='small-caps-title-bilingual'}}}
    {{/if}}
    {{#if subtitle}}
    {{!-- Custom text for infraction notice --}}
    {{{languageHandler subtitle classPrimaryLang='h4 light'
    classSecondaryLang='h4 light muted'}}}
    {{else}}
    {{#if notice.expiryDate}}
    <div class="composedHorizontalLocalizedText">
      {{{languageHandler 'paymentData.type.withExpiryDate' classPrimaryLang='h4'
      classSecondaryLang='small-caps-title-bilingual'}}}
      <p class='h4'>{{notice.expiryDate}}</p>
    </div>
    {{else}}
    {{{languageHandler 'paymentData.type.withoutExpiryDate' classPrimaryLang='h4'
    classSecondaryLang='small-caps-title-bilingual'}}}
    {{/if}}
    {{/if}}
  </div>

  {{> paymentQR}}

</section>