<section class="notice-payment-info">
    <div class="payment-amount-title-block start-separator">
        {{{languageHandler 'paymentInfo.title.withExpiryDate' classPrimaryLang='small-caps-title'
        classSecondaryLang='small-caps-title-bilingual'}}}
    </div>

    <div class="payment-amount-block-infraction start-grid-cell">
        <div class="amount-1">
            <dl>
                <dt>
                    {{{languageHandler 'infraction.amount.discounted' classPrimaryLang='body strong'
                    classSecondaryLang='body muted' classContainer="dense" align="vertical"}}}
                </dt>
                <dd class="h1">{{notice.instalments.discounted.amount}} Euro</dd>
            </dl>
            <p class="body amount-details">
                <strong>entro 5 giorni</strong><br />
                dalla notifica del verbale
            </p>
        </div>
        <div class="amount-2">
            <dl>
                <dt>
                    {{{languageHandler 'infraction.amount.reduced' classPrimaryLang='body strong'
                    classSecondaryLang='body muted' classContainer="dense" align="vertical"}}}
                </dt>
                <dd class="h1">{{notice.instalments.reduced.amount}} Euro</dd>
            </dl>
            <p class="body amount-details">
                <strong>dal 6ยบ al 60ยบ giorno</strong><br />
                dalla notifica del verbale
            </p>
        </div>
        <div class="info-block">
            <div class="info-paragraph">
                <img src="./assets/icons/icon-calendar.svg" class="info-icon" aria-hidden="true" />
                <div>
                    {{{languageHandler 'infraction.disclaimer.expiry.question' classPrimaryLang='h5'
                    classSecondaryLang='h5 muted' classContainer="mb-3x-small" align="vertical"}}}
                    {{{languageHandler 'infraction.disclaimer.expiry.answer' classPrimaryLang='body'
                    classSecondaryLang='body muted' align="vertical"}}}
                </div>
            </div>
            <div class="info-paragraph">
                <img src="./assets/icons/icon-document.svg" class="info-icon" aria-hidden="true" />
                <div>
                    {{{languageHandler 'infraction.disclaimer.unclaimed.question' classPrimaryLang='h5'
                    classSecondaryLang='h5 muted' classContainer="mb-3x-small" align="vertical"}}}
                    {{{languageHandler 'infraction.disclaimer.unclaimed.answer' classPrimaryLang='body'
                    classSecondaryLang='body muted' align="vertical"}}}
                </div>
            </div>
        </div>
    </div>

    {{> paymentMethods }}

</section>